//-- Tier 1
//UNLOAD SELECT * FROM DBA.state
//TO 'C:\\LL_Export\\state.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//UNLOAD SELECT * FROM DBA.terms
//TO 'C:\\LL_Export\\terms.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//UNLOAD SELECT * FROM DBA.log
//TO 'C:\\LL_Export\\log.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//-- Tier 2 (IDENTITY tables)
//UNLOAD SELECT * FROM DBA.ship_via
//TO 'C:\\LL_Export\\ship_via.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//UNLOAD SELECT * FROM DBA.product
//TO 'C:\\LL_Export\\product.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//UNLOAD SELECT * FROM DBA.dealer
//TO 'C:\\LL_Export\\dealer.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//-- Tier 3
//UNLOAD SELECT * FROM DBA.prep
//TO 'C:\\LL_Export\\prep.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//UNLOAD SELECT * FROM DBA.prep_comments
//TO 'C:\\LL_Export\\prep_comments.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//           
//UNLOAD SELECT * FROM DBA.prep_special_instructions
//TO 'C:\\LL_Export\\prep_special_instructions.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//
//UNLOAD SELECT * FROM DBA.prep_blue_dot
//TO 'C:\\LL_Export\\prep_blue_dot.csv'
//FORMAT ASCII
//DELIMITED BY ',';
//